<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="pdtmasterEntities" connectionString="metadata=res://*/DAL.DBeAdvisor.csdl|res://*/DAL.DBeAdvisor.ssdl|res://*/DAL.DBeAdvisor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pdtmaster.database.windows.net;initial catalog=pdtmaster;user id=pdtmaster;password=i1janice@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="pdtmasterEntities1" connectionString="metadata=res://*/DAL.DBeAdvisor.csdl|res://*/DAL.DBeAdvisor.ssdl|res://*/DAL.DBeAdvisor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pdtmaster.database.windows.net;initial catalog=pdtmaster;persist security info=True;user id=pdtmaster;password=i1janice@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="productdbEntities" connectionString="metadata=res://*/DAL.ExamDB.csdl|res://*/DAL.ExamDB.ssdl|res://*/DAL.ExamDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:tws.database.windows.net;initial catalog=productdb;persist security info=True;user id=productdb;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
